mixin carousel-item-service
	.px-3
		.main__card.service-single__card
			img(src="picture/backgrounds/main.jpg", alt="").w-100
			.main__card-hide
				.main__card-hide-block
					.text-white.h4.mb-4 Два лица одного дома 
					.text-white.h5.font-weight-normal.mb-4.pb-3 Площадь 
						span.font-weight-bold 278 м
							sup 2
					a(href="#").btn.btn-outline-secondary Посмотреть проект
mixin portfolio-card-service
	.square-card(style="background-image:url('picture/upload/project-1.jpg')")
		.square-card-body
			.h5.text-white.text-center.mb-4.square-card-title Два лица одного дома
			a(href="#").btn.btn-outline-secondary.square-card-btn Смотреть подробнее
mixin steps(num, name, ...params)
	.service-single-block.mb-5
		p.mb-2.pb-1.service-single-block-name
			span.font-weight-bold= num + ' этап. '
			span= name
		a(href="#steps-" + num data-toggle="modal").text-primary.d-inline-flex
			span Подробнее
			i.icon.icon-nav-block.icon-arrow-link-right.ml-2
	.modal.fade(tabindex='-1' role='dialog' aria-labelledby='steps-'+ num aria-hidden='true' id='steps-'+ num)
		.modal-dialog.modal-lg.modal-dialog-centered(role='document')
			.modal-content
				.modal-header
					button.close(type='button' data-dismiss='modal' aria-label='Close')
						small
							i.icon.icon-close
				.modal-body.p-md-5
					.pb-4
						.h5.mb-3= num + ' этап. ' + name
						each param in params
							p.mb-3= param
.page-container.pb-0
	.container.service-single-container
		.row
			.col-md-12.d-none.d-sm-block
				nav(aria-label='breadcrumb').mb-5
					ol.breadcrumb
						li.breadcrumb-item
							a(href='/') О студии
						li.breadcrumb-item
							a(href='/') Портфолио
						li.breadcrumb-item.active(aria-current='page') Дизайн интерьера
		.row
			.col-md-5.pr-xl-5.pr-md-4.service-single-border
				.h3.mb-4.text-primary Дизайн интерьера
				.h5.mb-3 Состав и этапы работы
				p.mb-3 Структурный профессиональный подход студии к разработке дизайн-проекта обеспечивает абсолютное представление о будущем интерьере дома, включая расстановку мебели, бытовой техники, предметов декора.
				p.mb-4 Успешное воплощение проекта в жизнь возможно только в сочетании с работами по комплектации интерьера и авторским надзором.
				p.font-weight-bold.mb-4.pb-2 От 4 000 – 6000 Р/м2, срок исполнения от 2-х месяцев
				button.btn.btn-outline-primary.btn-full-width-sm(data-toggle="modal" data-target="#formModal") Заказать услугу
			.col-md-7.pl-xl-5.pl-md-4.pt-5
				.row
					.col-sm-6
						+steps('1', 'Исследование объекта', 'Мы начинаем работу с составления подробного технического задания, опираясь на пожелания и комплексный анализ объекта. Обсуждаем привычки и комфортный стиль жизни, стилистические и цветовые предпочтения владельцев. Учитываем расположение и тип объекта, окружающий контекст, видовые характеристики, ориентацию по сторонам света, освещенность, конструктивные особенности.')
						+steps('2', 'Планировочное решение', 'Выполнив обмеры помещения, мы приступаем к разработке планировочного решения. Совместно с владельцем определяем лучший вариант для каждого элемента пространства.', 'Как правило, мы предлагаем 2-3 плана с расстановкой мебели. После корректировок утверждаем итоговый вариант, который становится точкой отсчета для дальнейшей работы над проектом.')
						+steps('3', 'Подбор отделочных материалов и предметов мебели','Выполнив обмеры помещения, мы приступаем к разработке планировочного решения. Совместно с владельцем определяем лучший вариант для каждого элемента пространства.', 'Как правило, мы предлагаем 2-3 плана с расстановкой мебели. После корректировок утверждаем итоговый вариант, который становится точкой отсчета для дальнейшей работы над проектом.')
						+steps('4', 'Проектирование инженерных разделов', 'Параллельно с разработкой визуального образа объекта мы активно взаимодействуем с инженерами и находим оптимальные решения по размещению коммуникаций: систем вентиляции и кондиционирования, водоснабжения, канализации. Уже на этом этапе подробно обсуждаем расположение и количество розеток, подходящие владельцам сценарии света, удобное размещение выключателей, принимаем решение по аудиосистемам, сигнализации и «умному дому».')
					.col-sm-6
						+steps('5', 'Разработка мебели и индивидуальных изделий', 'В каждом проекте нашей студии много столярных изделий и отдельных предметов интерьера, разработанных специально для конкретного проекта элитного дизайна интерьера. Такой подход позволяет учесть все пожелания заказчика по функциональному наполнению пространства мебелью, дает максимум свободы в выборе отделок и не ограничивает размерный ряд — что часто бывает с готовой продукцией.', 'Мы обсуждаем конфигурацию и наполнение всех позиций для проработки. Проект дополняется подробными чертежами мебели, по которым можно будет точно рассчитать смету на изготовление индивидуальных изделий, даже когда речь идет об иностранных фабриках.')
						+steps('6', 'Визуализация', 'После проработки архитектурных, инженерных и технических аспектов, выполняется 3D-визуализация всех основных помещений проекта. Мы можем представить себе конечный результат и, при необходимости, внести последние изменения. Световое решение, зонирование, сочетаемость оттенков и текстур — все это можно проверить, а при желании — исправить. 3D-формат сразу демонстрирует все преимущества и особенности интерьерных решений и позволяет заказать элитный дизайн интерьера с гарантированным результатом.')
						+steps('7', 'Рабочий проект', 'На этом этапе к выпуску готовится полный альбом рабочих чертежей, по которому строительная бригада может составить максимально точную смету работ. Рабочий проект интерьера включает в себя, в том числе, подробные технические планы полов, потолков, освещения, розеток и выключателей, развертки стен, спецификации отделочных материалов и оборудования для эксклюзивного дизайна интерьера.')
			.col-md-12.d-block.d-sm-none#headingCollapseImages
				.mb-4
					+portfolio-card-service
				.mb-4
					+portfolio-card-service
				#collapseImages.collapse(aria-labelledby="headingCollapseImages")
					.mb-4
						+portfolio-card-service
					.mb-4
						+portfolio-card-service
			.col-md-12.d-block.d-sm-none
					button.collapsed-btn.btn.btn-outline-primary.w-100(data-toggle="collapse" data-target="#collapseImages" aria-expanded="false" aria-controls="collapseImages")
						span.collapsed-btn-false Смотреть еще
						span.collapsed-btn-true Скрыть
	.d-none.d-sm-block

		.service-slider
			+carousel-item-service
			+carousel-item-service
			+carousel-item-service
			+carousel-item-service
