.service-single {
	&-border {
		border-right: 1px solid #E0E0E0;
		@include media-breakpoint-down(sm) {
			border: none;
		}
	}
	&-block {
		&-name {
			font-size: 16px;
		}
	}
	&-container {
		margin-bottom: 74px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 0;
		}
	}
	&__card {
		@include media-breakpoint-down(md) {
			height: 400px;
		}
	}
}
.service-slider{
	&-img {
		max-width: calc(100% - 20px);
		margin: 0 10px;
	}
	@include media-breakpoint-down(lg) {
		.slick-prev {
			left: 100px;
		}
		.slick-next {
			right: 100px;
		}
	}
}