mixin service-block(name, title, text)
	.row.service-block
		.col-md-4.col-xl-3
			.h4.text-primary.mb-3= name
		.col-md-7.offset-md-1.offset-xl-1.col-xl-8
			.h5.mb-3.service-block-title= title
			p.mb-4.pb-2= text
			a(href="#").btn.btn-outline-primary.service-block-btn Подробнее
.page-container
	.container
		.row
			.col-md-12.d-none.d-sm-block
				nav(aria-label='breadcrumb').mb-5
					ol.breadcrumb
						li.breadcrumb-item
							a(href='/') О студии
						li.breadcrumb-item.active(aria-current='page') Услуги
			.col-md-12
				+service-block('Архитектурный проект', 'Эскизный проект - от 700 р/м2, рабочий проект – от 3 000 р/м2', 'Архитектурный проект — полный комплект документации для успешного сотрудничества заказчика и студии. На первом этапе (эскизный проект) мы занимаемся созданием концепции объекта. Предлагаем планировки, макеты и модели, которые дадут вам полное представление о внутреннем устройстве и внешнем виде будущего дома. Второй этап (рабочий проект) посвящен детальной разработке всех необходимых чертежей совместно с конструктором и инженерами. Результат нашей работы-подробный проект жилого дома, который сможет реализовать любая строительная бригада.')
				+service-block('Дизайн-проект интерьера', 'От 4 000 – 6000 Р/м2, срок исполнения от 2-х месяцев', 'Дизайн-проект — главный документ сотрудничества заказчика и студии, а также исчерпывающая инструкция для строительных бригад, где подробно отражена концепция архитектурного решения и планировка с учётом расположения всех коммуникаций. Клиенты отмечают структурный и профессиональный подход студии к разработке дизайн-проекта. Его успешное воплощение в жизнь гарантируется только в сочетании с работой по комплектации интерьера и авторским надзором.')
				+service-block('Комплектация интерьера', '5-10% от общей сметы по отдельному договору', 'Представляем интересы заказчика, экономим его время и бюджет. Мы знаем, как найти лучших поставщиков и самые выгодные цены, согласовываем все нюансы по отделке мебели, составляем и оптимизируем смету, осуществляем полный менеджмент закупок. Многие предметы мебели изготавливаются на заказ в проверенных мастерских, зарекомендовавших себя безупречным качеством исполнения работ.')
				+service-block('Авторский надзор', 'От 10 000 Р за консультацию', 'Общие рекомендации по вопросам, связанным с осуществлением ремонта, выбором цветового решения и отделочных материалов, правилами расстановки мебели. Планировка, стиль, советы по подбору предметов интерьера, выбору поставщиков и подрядчиков. Консультация может включать выполнение набросков и скетчей, несложных чертежей. Проводится в офисе или в выездном формате. Консультация по дизайну интерьера — отличная возможность для внесения грамотных изменений в уже готовый ремонт или для завершения незаконченного проекта.')
				+service-block('Ремонт', 'От 15 000 Р/м2 по отдельному договору', 'Каждый из проектов студии уникален как в части архитектурных решений, так и в комплектации интерьера. Мы несём полную ответственность за воплощение проекта и создание индивидуального жизненного пространства. Исходя из этого, мы принципиально осуществляем ремонт только с проверенными рабочими бригадами, в которых нет случайных людей, а уровень их профессионализма не вызывает у нас ни единого сомнения.')