.contact-map {
	width: 100%;
	border: none;
	height: 505px;
	@include media-breakpoint-down(lg) {
		height: 400px;
	}
	@include media-breakpoint-down(sm) {
		height: 300px;
	}
	@include media-breakpoint-down(xs) {
		height: 210px;
	}
}