.icon-nav-block {
	font-size: 10px;
	transform: translateY(1px);
}

.portfolio-slider-min {
	&-item {
		margin: 0 4px;
		width: 100px;
		height: 100px;
		&-img {
			width: 100%;
			max-width: 100px;
			height: 100%;
			object-fit: cover;
		}
	}
}

.portfolio-slider {
	&__img {
		object-fit: contain;
		object-position: center;
		// max-height: 840px;
		height: 650px;
		@include media-breakpoint-down(md) {
			height: 400px;
		}
	}
	.slick-prev {
		left: 15px;
	}
	.slick-next {
		right: 15px;
	}
}