.main.overflow-hidden
	.d-none.d-sm-block
		.main-slider
			+carousel-item
			+carousel-item
			+carousel-item
			+carousel-item
			+carousel-item
			+carousel-item
			+carousel-item
	.d-block.d-sm-none#headingCollapseImages
		+link-item('main-mob-1.jpg')
		+link-item('main-mob-2.jpg')
		+link-item('main-mob-3.jpg')
		#collapseImages.collapse(aria-labelledby="headingCollapseImages")
			+link-item('main-mob-1.jpg')
			+link-item('main-mob-2.jpg')
			+link-item('main-mob-3.jpg')
		.container
			.row
				.col-md-12.mt-3
					button.collapsed-btn.btn.btn-outline-primary.w-100(data-toggle="collapse" data-target="#collapseImages" aria-expanded="false" aria-controls="collapseImages")
						span.collapsed-btn-false Смотреть еще
						span.collapsed-btn-true Скрыть
