.main {
	&__card {
		// background-image: url('../picture/backgrounds/main.jpg');
		// background-size: cover;
		// background-position: center;
		// height: 602px;
		position: relative;
		&-big {
			max-width: 1440px;
			margin-left: 10px;
			margin-right: 10px;
			@include media-breakpoint-down(lg) {
				margin-left: 0;
				margin-right: 0;
			}
		}
		&-hide {
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			transition: 0.2s ease all;
			background-color: rgba(0,0,0,0.7);
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
		}
		&:hover {
			.main__card-hide {
				opacity: 1;
			}	
		}
		&-mob {
			&-img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				min-height: 320px;
			}
			&-hide {
				opacity: 1;
			}
		}
	}
}

.collapsed-btn {
	&[aria-expanded="false"] {
		.collapsed-btn-false {
			display: inline-block;
		}
		.collapsed-btn-true {
			display: none;
		}
	}
	&[aria-expanded="true"] {
		.collapsed-btn-true {
			display: inline-block;
		}
		.collapsed-btn-false {
			display: none;
		}
	}
}