mixin portfolio-card(img)
	.square-card(style="background-image:url('picture/upload/" + img + "')")
		.square-card-body
			.h5.text-white.text-center.mb-4.square-card-title Два лица одного дома
			a(href="#").btn.btn-outline-secondary.square-card-btn Смотреть подробнее
.page-container
	.container
		.row
			.col-md-12.d-none.d-sm-block
				nav(aria-label='breadcrumb').mb-5
					ol.breadcrumb
						li.breadcrumb-item
							a(href='/') О студии
						li.breadcrumb-item.active(aria-current='page') Портфолио
			.col-md-12
				.swipe-container
					.swipe-container-block
						ul.nav.nav-pills.nav-pills-tabs(role="tablist")
							li.nav-item
								a(data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false").nav-link#all-tab Все
							li.nav-item
								a(data-toggle="tab" href="#architecture" role="tab" aria-controls="architecture" aria-selected="true").nav-link.active#architecture-tab Архитектура
							li.nav-item
								a(data-toggle="tab" href="#interior" role="tab" aria-controls="interior" aria-selected="false").nav-link#interior-tab Интерьеры
							li.nav-item
								a(data-toggle="tab" href="#contest" role="tab" aria-controls="contest" aria-selected="false").nav-link#contest-tab Конкурсные работы
				.tab-content
					.tab-pane.fade#all(role="tabpanel" aria-labelledby="all-tab")
						.row
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-1.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-3.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-4.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-3.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-4.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-3.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-4.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-3.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-4.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-3.jpg')
							.col-md-12.d-flex.justify-content-center
								button.btn.btn-outline-primary.btn-full-width-sm Смотреть еще
					.tab-pane.fade.show.active#architecture(role="tabpanel" aria-labelledby="architecture-tab")
						.row
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-1.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-3.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-4.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-3.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-4.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-3.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-4.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-3.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-4.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-3.jpg')
							.col-md-12.d-flex.justify-content-center
								button.btn.btn-outline-primary.btn-full-width-sm Смотреть еще
					.tab-pane.fade#interior(role="tabpanel" aria-labelledby="interior-tab")
						.row
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-1.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-2.jpg')
					.tab-pane.fade#contest(role="tabpanel" aria-labelledby="contest-tab")
						.row
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-1.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-3.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-4.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6
								+portfolio-card('project-3.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-4.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-2.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-3.jpg')
							.col-lg-4.col-sm-6.mb-6.d-none.d-sm-block
								+portfolio-card('project-4.jpg')