.padding-section.padding-section-top-min
	.container
		.row.justify-content-center
			.col-xl-9.col-lg-10
				.row
					.col-12.d-block.d-md-none
						h2.h4.mb-3 Архитектура - образ жизни
					.col-md-6.mb-3.mb-md-0
						iframe(width='560' height='315' src='https://www.youtube.com/embed/-_GbBfTYZkw' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen).full-video
						//a(href="https://youtu.be/c3YU8j8jp9s" data-fancybox).video-block.d-block.h-100
							img(src="picture/upload/video-preview.jpg", alt="").h-100.w-100.object-fit-cover
							span.video-block-btn
					.col-md-6
						.pl-xl-5
							h1.h4.mb-3.d-none.d-md-block Архитектура - образ жизни
							p.mb-3 Нас отличает профессиональный архитектурный подход к&nbsp;реализации проектов. Мы&nbsp;умеем грамотно интегрировать материалы в&nbsp;среду, знаем всё о&nbsp;конструктиве зданий и&nbsp;об&nbsp;устройстве инженерных систем, избавляем клиентов от&nbsp;дорогостоящих технических просчетов. 
							p.mb-0.mb-md-3 Сочетая архитектуру и&nbsp;дизайн, мы&nbsp;создаем уникальные и&nbsp;функциональные пространства, которые наполняем характерами&nbsp;их владельцев.
							p.mb-3.d-none.d-md-block Клиенты студии&nbsp;&mdash; люди со&nbsp;вкусом и&nbsp;любовью к&nbsp;жизни. Наших заказчиков объединяет кругозор, качественное образование и&nbsp;уважение к&nbsp;профессионализму. Они предпочитают доверять процесс реализации проекта одному архитектурному бюро, получая завершенный в&nbsp;срок проект, бюджет которого не&nbsp;вырастает в&nbsp;процессе работы.
							p.mb-3.d-none.d-md-block Для абсолютного большинства наших клиентов важна способность архитектора быть с&nbsp;ними на&nbsp;одной волне и&nbsp;понимать с&nbsp;полуслова.
