- var title = "Pugachevich Studio | Blog Single";
doctype html
html(lang="ru")
	head
		include modules/head/index.pug
	body
		include modules/header/index.pug
		include modules/blog-single-carousel/index.pug
		include modules/footer/index.pug
		script(src="js/libs.js")
		script(src="js/script.js")
