- var title = "Pugachevich Studio | Contact";
doctype html
html(lang="ru")
	head
		include modules/head/index.pug
	body
		include modules/header/index.pug
		include modules/contact/index.pug
		include modules/footer/index.pug
		script(src="js/libs.js")
		script(src="js/script.js")
