- var title = "Pugachevich Studio | Main Page";
doctype html
html(lang="ru")
	head
		include modules/head/index.pug
	body
		include modules/header/index.pug
		include modules/main-page/main/index.pug
		include modules/main-page/architecture/index.pug
		include modules/main-page/cards/index.pug
		include modules/main-page/crew/index.pug
		include modules/form/index.pug
		include modules/footer/index.pug
		script(src="js/libs.js")
		script(src="js/script.js")
