.page-container
	.container
		.row
			.col-md-12.d-none.d-sm-block
				nav(aria-label='breadcrumb').mb-5
					ol.breadcrumb
						li.breadcrumb-item
							a(href='/') О студии
						li.breadcrumb-item
							a(href='/') Блог
						li.breadcrumb-item.active(aria-current='page') Реконструкция дома
		+nav-block('Блог', 'Следующая статья')
		.row
			.col-md-12.mb-5.d-block.d-sm-none.px-0
				img(src="picture/upload/blog-article.jpg", alt="").w-100
			.col-md-12.mb-5.d-none.d-sm-block
				img(src="picture/upload/blog-article.jpg", alt="").w-100
			.col-xl-9.col-lg-10.pr-xl-5
				.mb-4.pb-2
					+share-block
				.h4.mb-3.pb-2 Реконструкция дома
				p.h5.mb-3 Предыстория реконструкции: самострой
				p.mb-2 У&nbsp;дома, за&nbsp;реконструкцией которого нам обратился заказчик, сложилась долгая история строительства и&nbsp;переделок. Его начал строить еще хозяин-инженер, который на&nbsp;основе проекта с&nbsp;условной планировкой сам придумал технологию строительства из&nbsp;керамзитобетона&nbsp;&mdash; это инженерное решение позволило обойтись без утеплителя.
				p.mb-2 Дом построили добротно, заказали очень хорошие окна, внутри все нормально, но&nbsp;абсолютно не&nbsp;позаботились о&nbsp;внешнем виде&nbsp;&mdash; получилась обычная крепкая &laquo;коробка&raquo;. Потом деньги кончились, кто-то приболел, и&nbsp;на&nbsp;несколько лет это все &laquo;подвисло&raquo; в&nbsp;незаконченном виде.
				p.mb-5 Одним словом, хозяин дома сам прошел путь кустарного проектирования до&nbsp;строительства. Вся эта многолетняя стройка ему надоела и&nbsp;он&nbsp;решил найти наконец архитектора.
				p.h5.mb-3 Как выглядит проблема со&nbsp;стороны заказчика реконструкции?
				p.mb-2 Заказчик понимает, что строительство не&nbsp;завершено: где-то торчат закладные, что-то протекает, сделанная не&nbsp;в&nbsp;сезон штукатурка облупилась, окна пошли трещинами и&nbsp;расклеились, пристроенный к&nbsp;дому навес для автомобиля через год развалился. На&nbsp;лицо моральное устаревание дома: с&nbsp;одной стороны он&nbsp;как&nbsp;бы новый, но&nbsp;его уже надо переделывать.
				p.mb-5 Изначально он&nbsp;обратился к&nbsp;нам с&nbsp;простым запросом: &laquo;Можете мне просто нормальные фасады нарисовать, со&nbsp;вставками из&nbsp;дерева и&nbsp;камня?&raquo; Мы&nbsp;предложили первый вариант с&nbsp;небольшими балконами, потому что невозможно нарисовать одни фасады. Заказчику все так понравилось, что он&nbsp;сразу сказал: &laquo;Да, интересно, давайте думать на&nbsp;эту тему&raquo;.
				p.h5.mb-3 Как выглядит реконструкция дома с&nbsp;точки зрения архитекторов?
				p.mb-2 Планировка дома, на&nbsp;наш взгляд, неплохая, конструктивно мы&nbsp;ничего не&nbsp;переделывали. Комнаты расположены логично, учтена привязка к&nbsp;местности и&nbsp;ориентация по&nbsp;сторонам света. А&nbsp;вот в&nbsp;отделочных работах проскочила халтура.
				p.mb-5 Хорошая планировка&nbsp;&mdash; это, кстати, важный залог успеха реконструкции. Мы&nbsp;увидели в&nbsp;этом потенциал. Большой каменный дом с&nbsp;задатками современного стиля. В&nbsp;этом вопросе мы&nbsp;к&nbsp;счастью нашли с&nbsp;заказчиком общий язык: он&nbsp;тоже хочет современный дом, а&nbsp;не&nbsp;колонны и&nbsp;&laquo;классику&raquo;. Должны были появиться новая терраса, навес для машины. При строительстве планировалось использовать натуральные материалы типа сланца и&nbsp;дерева, как снаружи, так и&nbsp;внутри.
				p.h5.mb-3 Реконструкция: начало работ и&nbsp;путь к&nbsp;оптимальному решению
				p.mb-2 Самое главное, хозяин был готов к&nbsp;переменам. Мы&nbsp;произвели обмены и&nbsp;начали рисовать эскизы. У&nbsp;заказчика было много вопросов про кровлю, цоколи, кондиционеры. Постепенно мы&nbsp;пришли к&nbsp;решению о&nbsp;реконструкции, которая включает себя не&nbsp;только облицовку фасадов, но&nbsp;и&nbsp;работу с&nbsp;интерьером. Ведь в&nbsp;композиции дома все взаимосвязано и&nbsp;одно перетекает в&nbsp;другое.
				p.mb-2 Замеры&nbsp;&mdash; это очень необходимая и&nbsp;трудоемкая часть работы, это важно учитывать. Здесь очень важно было продумать конструкцию. Проблема в&nbsp;том, что мы&nbsp;довольно много всего пристраиваем и&nbsp;крепим к&nbsp;существующему фасаду. Следует убедиться, что здание это выдержит. Естественно, без замеров тут никак.
				p.mb-5 Необходимо было рассчитать, какие балки пройдут между окнами, чтобы на&nbsp;них положить новые перекрытия. Это потребовало длительных консультаций с&nbsp;нашим опытным конструктором.
				p.h5.mb-3 Ход строительных работ при реконструкции дома
				p.mb-2 Заказчик, безусловно, хотел избежать дополнительных трат и&nbsp;поэтому просил брать в&nbsp;расчет самые доступные материалы. В&nbsp;итоге для облицовки фасадов нам удалось найти отличный кирпич в&nbsp;рамках бюджета.
				p.mb-5 Благодаря хорошей планировочной основе, нам не&nbsp;потребовалось ничего сносить и&nbsp;разбирать кроме кусочка кровли в&nbsp;месте соединения с&nbsp;навесом. Мы&nbsp;увеличили объем полезной площади за&nbsp;счет того, что добавили балкон в&nbsp;спальне, удобный навес над парковочным место, нормальный козырек над входом и&nbsp;уютную террасу с&nbsp;зоной барбекю: теперь семье есть, где провести время на&nbsp;улице.
				p.h5.mb-3 Затрагивает&nbsp;ли реконструкция дома интерьер?
				p.mb-2 Экстерьер и&nbsp;интерьер&nbsp;&mdash; это взаимоперетекающая история. Тем более, что интерьер дома изначально был сделан некачественно: кривые потолки, неровные стены, проблемы со&nbsp;штукатуркой.
				p.mb-2 Заказчик сразу заявил: &laquo;Я&nbsp;хочу, чтобы решения фасада повторялись в&nbsp;интерьере&raquo;. Так мы&nbsp;полностью концептуально разработали весь дом. В&nbsp;этом проекте мы&nbsp;сделали перепланировку полностью под задание заказчика: переделали детскую, кабинеты, лаунжи, мансарду.
				p.mb-5 Поскольку летний строительный сезон к&nbsp;тому времени уже закончился, мы&nbsp;начали реконструкцию с&nbsp;интерьера, но&nbsp;сразу заказали сразу и&nbsp;в&nbsp;дом, и&nbsp;в&nbsp;интерьер одинаковый кирпич. Как архитекторы, мы, безусловно, ищем взаимосвязь между внешним и&nbsp;внутренним. Реконструкция дом&nbsp;&mdash; это всегда переход во&nbsp;внутреннюю часть: так или иначе, все должно перекликаться.
				p.h5.mb-3 Подводя итоги
				p.mb-2 Сделаем выводы. Лучший результат получается, если в&nbsp;доме в&nbsp;принципе заложена правильная идея. Этот, проект, например, был лаконичный, модернистский. В&nbsp;его основе явно лежала продуманная мысль и&nbsp;хороший изначальный план. Хорошую архитекторскую идею видно, даже если строители исказят ее&nbsp;своей &laquo;оптимизацией&raquo;. В&nbsp;случае, если таковой нет, мало что можно сделать.
				p.mb-0.mb-sm-5 Идея важна, потому что она дает дальнейший толчок мысли, становится центром и&nbsp;основой дальнейшей композиции. Например, это может быть связывающий все центральный объем, ось, форма. Когда мы&nbsp;видим, что до&nbsp;нас над зданием работал другой архитектор, все это продумывал, рисовал, это приятно. Мы&nbsp;можем взять&nbsp;ее, развить и&nbsp;довести до&nbsp;отличного итога.
	.container.d-none.d-sm-block
		+nav-block('Блог', 'Следующая статья')